<div ng-app="myApp" ng-controller="DoctApprovedAppointmentController">
    <div class="col mt-lg-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 style="font-size: 40px;">Approved  Appointment</h3>
                </div>
                <div class="col">
                <form class="d-flex" style="position: relative; left: 20%;margin-top: 2%;">
                    <input class="form-control me-2"  type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" ng-model="search">Search</button>
                  </form>
                </div>
                <div class="col" >
                    <button type="button" style="position: relative; left: 50%;" class="btn btn-secondary btn-lg">Appointment</button>
                </div>
            </div>
    
            <hr>
    
            <table class="table caption-top ">
               <caption>Patient ID :-</caption>
               <thead class="bg-dark table-dark">
                 <tr>
                   <th scope="col">Index</th>
                   <th scope="col">First Name</th>
                   <th scope="col">Age</th>
                   <th scope="col">Date Assign</th>
                   <th scope="col">Time Assign</th>
                   <th scope="col">Medical History</th>
                   <th scope="col">Write Prescription</th>
                 </tr>
               </thead>
               <tbody>
                 <tr ng-repeat="appoint in approved | filter:search">
                  <td>{{$index+1}}</td>
                   <td>{{appoint.Patient__first_name+ " " + appoint.Patient__last_name}}</td>
                   <td>{{appoint.Patient_Details__Patient_Age}}</td>
                   <td>{{appoint.Appointment_date}}</td>
                   <td>{{appoint.Appointment_slot}}</td>
                   <td>{{appoint.Patient_Medical_history}}</td>
                   <td><button class="btn btn-outline-danger" ng-click="prescribed(appoint)" data-bs-toggle="modal" data-bs-target="#myModal2">Prescription</button>
                    <div ng-app="myApp" ng-controller="ModalPrescController">  
                        <div class="modal fade" id="myModal2">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content" >
                        
                              <div class="modal-header">
                                <h3 class="modal-title" style="text-align: center;">TechMed</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                              </div>
                        
                              <div class="modal-body">
                                <h5 style="text-align: center;"><u>Prescription</u></h5>  
                                <input type="text" ng-model="diagnosis" class="form-control mb-2" name="contact[]" placeholder="Diagnosis" />

                                <form ng-app="contactsApp">  
                                   <button type="button" class="btn btn-outline-success mb-3" ng-click="add(contact)">Medicines</button>
                                   <div class="row row-cols-2 row-cols-lg-3" >
                                     <p ng-repeat="contact in contacts">
                                         <input type="text" ng-model="contact.medicine" class="form-control mb-2" name="contact[]" placeholder="Medicine" />
                                         <select class="form-select mb-2" ng-model="contact.dosage" style="width: 100%;" aria-label="Default select example">
                                           <option value="" selected disabled hidden>Dosage</option>      
                                           <option value="1 time a day">1 time a day</option>
                                           <option value="2 time a day">2 time a day</option>
                                           <option value="3 time a day">3 time a day</option>
                                           <option value="4 time a day">4 time a day</option>
                                         </select>                              
                                         <input type="text" ng-model="contact.instruction" class="form-control mb-2" name="contact[]" placeholder="Instructions" />
                                         <button type="button" class="btn btn-close removeField" ng-click="removeContactField($index)"></button>
                                     </p>
                                   </div>
                                     <br>
                                     <button type="submit" class="btn btn-outline-danger" style="float: right;" ng-click="submit(record)">Submit</button>
                                 </div>
                             </form>
           
                         
                              </div>
                            </div>
                          </div>
                        </div>
                    </td>
                   </tr>
                 </tbody>
             </table>
        </div>
    </div>



   