
    <div style="text-align: center; margin-top: 5%;">
    <h1>TechMed</h1>
    <br>
    <h2>Welcome !!</h2>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4" >
                <div class="card" style="height: 400px;">
                    <img src="https://img.freepik.com/free-vector/people-walking-sitting-hospital-building-city-clinic-glass-exterior-flat-vector-illustration-medical-help-emergency-architecture-healthcare-concept_74855-10130.jpg?q=10&h=200" alt="Hospital Logo" height="290" width="290" class="card-img" style="margin-top: 8%;">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body" style="height: 400px";>
                        <h4 class="card-title text-center">Hospital Login</h4><br><br>
                        <form>
                            <div class="form-group">
                                <label for="username">Email:</label>
                                <input type="email" class="form-control" ng-model="email" placeholder="Enter Email" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" ng-model="password" placeholder="Enter password">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary" ng-click="login()">Login</button>
                            <br><br>
                            <p>Don't have an account? <a ui-sref="Register">Register</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>