


<div class="col mt-lg-3">
  <div class="container">
      <div class="row">
          <div class="col">
              <h3 style="font-size: 40px;">Payment Records </h3>
          </div>
         
      </div>

      <hr>

      <table class="table caption-top" id="recordtable">
         <thead class="bg-dark table-dark">
           <tr>
             <th scope="col">Index</th>
             <th scope="col">Payment Date</th>
             <th scope="col">Amount</th>
             <th scope="col">Fee Receipt</th>
            
           </tr>
         </thead>
         <tbody>
           <tr ng-repeat="patient in amount">
             <th scope="row">{{$index + 1}}</th>
             <td>{{patient.Payment_date}}</td>
             <td>{{patient.Amount}}</td>
             <td><button class="btn btn-outline-danger" ng-click="view(patient)" data-bs-toggle="modal" data-bs-target="#myModal">View</button>


              <div class="modal" id="myModal">
                  <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                
                      <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                      </div> 
                
                      <div class="modal-body">
                          <div id="paymentrecord">
                              <div ng-bind-html="paymentpage"></div>
                          </div>
                          <button class="btn btn-outline-success" ng-click="downloadpdf()">Download</button>
              
                      </div>       
                    </div>
                  </div>
                </div> 
              </td>
            </tr>
         </tbody>
       </table>
  </div>
</div>
        
