<div ng-app="myApp" ng-controller="RecepAppointController">
    <div class="col mt-lg-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 style="font-size: 40px;">Appointment's</h3>
                </div>
                <div class="col">
                <form class="d-flex" style="position: relative; left: 20%;margin-top: 2%;">
                    <input class="form-control me-2"  type="search" ng-model="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" ng-model="search">Search</button>
                  </form>
                </div>
                <div class="col" >
                    <button type="button" style="position: relative; left: 50%;" class="btn btn-secondary btn-lg">Appointment</button>
                </div>
            </div>
    
            <hr>
    
            <table class="table caption-top ">
               <caption>Patient ID :-</caption>
               <thead class="bg-dark table-dark">
                 <tr>
                   <th scope="col">Index</th>
                   <th scope="col">Patient Id</th>
                   <th scope="col">First Name</th>
                   <th scope="col">Date Assign</th>
                   <th scope="col">Time Assign</th>
                   <th scope="col">Accept/Reject</th>
                 </tr>
               </thead>
               <tbody>
                 <tr ng-repeat="appoint in appoints | filter:search">
                   <th scope="row">{{index+1}}</th>
                   <td>{{appoint.Patient}}</td>
                   <td>{{appoint.Patient__first_name+ " " + appoint.Patient__last_name}}</td>
                   <td>{{appoint.Appointment_date}}</td>
                   <td>{{appoint.Appointment_slot}}</td>
                   <td><button type="button" ng-click="approved(appoint)" class="btn btn-outline-primary btn-sm">Accept</button>
                    <button type="button" ng-click="reject(appoint)" class="btn btn-outline-danger btn-sm"  data-bs-toggle="modal" data-bs-target="#myModal" >Reject</button>
                    <div ng-app="myApp" ng-controller="ModalAppointController">  
                      <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                          <div class="modal-content" >
                      
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Reson for Rejecting the Appointment</h4>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                      
                            <!-- Modal body -->
                            <div class="modal-body">
                              <input type="text" class="form-control" ng-model="reasonInput">
                            </div>
                      
                             <!-- Modal footer -->
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-danger" ng-click="submit(appoint, index)" data-bs-dismiss="modal">Submit</button>
                            </div>
                      
                          </div>
                        </div>
                      </div>
                      </div>   
                  </td>
                     </tr>
                
               </tbody>
             </table>
        </div>
    </div>
              